body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    
}

.container{
    margin: 0 auto;
    background-color: hsl(225, 100%, 98%);
    width: 25%;
    text-align: center;
    border-radius: 10px;
}

.inside-container{
    padding: 20px;
}

.illustration{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

h1{
    font-weight: 700;
    font-size: 20px;
    color: hsl(223, 47%, 23%);
}

.annual{
    background-color: hsl(227, 36%, 95%);
    width: 90%;
    height: 60px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.music-icon{
    float: left;

}

.change{
    text-decoration: underline;
    float: right;
    font-size: 12px;
}

button{
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-radius: 10px;
    margin: auto;
    padding: 0.5rem;
}

.cancel{
    color: grey;
    padding: 5px;
    font-size: 11px;
    font-weight: 700;
}

.attribution { 
    margin-top: 50px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}